body {
  background-color: #252525;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background-color: #ff6600;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: scale(150%);
}

form {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
}

label {
  margin-bottom: 8px;
}

input {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: #252525;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #8f3900;
}

.password-container {
  position: relative;
}

#togglePassword {
  position: absolute;
  top: 35%;
  right: -10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
}

#togglePassword:hover {
  text-decoration: underline;
}

#showbtn {
  width: 30px;
  height: 30px;
}

#errormsg {
  font-size: 13px;
  text-align: center;
  color: rgb(255, 0, 0);
  display: none;
}